name: CI_pycodestyle

on: [pull_request, push]

jobs:
  run_mypy:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1
    - name: Install pycodestyle
      run: sudo apt-get install -y pycodestyle
    - name: Create default local config
      run: cp chc/util/ConfigLocal.template chc/util/ConfigLocal.py
    - name: Run pycodestyle
      run: |
        PYTHONPATH=$PWD pycodestyle chc --max-line-length=100
